<%- include('partials/header'); %>

</head>
<body>
  <form class="configuration">
    <!--
    <input type="number" id="grid-size" placeholder="Taille de la grille">
    <input type="number" id="pixel-size" placeholder="Taille des pixels">
    <button>Valider</button>
    -->
  </form>
  <div id="invader">
  </div>
  <div class="palette">
  </div>
  <script src="/js/invader.js"></script>

  <%- include('partials/footer'); %>
