<%- include('partials/header'); %>
<main>
    <h1>Connexion</h1>
    <div>
        <form action="/signin-action" method="post">
            <div>
                <input type="email" name="email" placeholder="Votre adresse e-mail">
            </div>
            <div>
                <input type="password" name="password" placeholder="Votre mot de passe">
            </div>
            <div>
                <button type="submit">Connexion</button>
            </div>
        </form>
    </div>
</main>
<%- include('partials/footer'); %>